In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Store1.csv", encoding='latin')

In [3]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City_Code,State_Code,Postal Code,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,11-09-2013,11-12-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,C259,S16,42420,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2013-152156,11-09-2013,11-12-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,C259,S16,42420,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2013-138688,6/13/2013,6/17/2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,C64,S04,90036,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2012-108966,10-11-2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,C150,S09,33311,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2012-108966,10-11-2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,C150,S09,33311,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
df.isnull().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode        22
Customer ID       0
Customer Name     0
Segment           9
Country           6
City_Code         0
State_Code        0
Postal Code       0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
Quantity          0
Discount          0
Profit            0
dtype: int64

In [5]:
#Removing null values

In [6]:
import statistics

In [7]:
df['Ship Mode'].value_counts().idxmax()

'Standard Class'

In [8]:
#Since there are only 22 values missing out of 9994 we can just make use of idxmax() function 
#to get the value that is most frequently occuring in the dataset and use that value to fill the null values.

In [9]:
df['Ship Mode'] = df['Ship Mode'].fillna('Standard Class')

In [10]:
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          9
Country          6
City_Code        0
State_Code       0
Postal Code      0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [11]:
df.Country.unique()

array(['United States', nan], dtype=object)

In [12]:
df['Country'] = df['Country'].fillna('United States')

In [13]:
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          9
Country          0
City_Code        0
State_Code       0
Postal Code      0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [14]:
#Since there are very few rows where we have null values for segment we can just delete them
#as filling them with values with mean median or mode would not make sense

In [15]:
df = df.dropna()

In [16]:
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City_Code        0
State_Code       0
Postal Code      0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [17]:
df.shape[0]

9985

In [18]:
#So we finally have 9985 rows in our dataset that we can work with.

In [19]:
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9985.000000,9985.00000,9985.000000,9985.000000,9985.000000,9985.000000
mean,4993.896545,55182.79359,229.636100,3.789685,0.156183,28.587722
std,2883.894709,32060.89504,622.927104,2.225074,0.206477,234.183523
min,1.000000,1040.00000,0.444000,1.000000,0.000000,-6599.978000
25%,2497.000000,23223.00000,17.280000,2.000000,0.000000,1.731000
50%,4993.000000,56301.00000,54.500000,3.000000,0.200000,8.671500
75%,7489.000000,90008.00000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.00000,22638.480000,14.000000,0.800000,8399.976000

In [20]:
df.dtypes

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City_Code         object
State_Code        object
Postal Code        int64
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [21]:
#we can see that order date and ship date are of the type object 
#we need to convert them into datetime for us to get any inferences from those rows
#before we do that lets combine all the other tables we have so we can print better results for better understanding

In [22]:
df.columns = df.columns.str.replace(' ','_')

In [23]:
df['Ship_Date'] = df['Ship_Date'].str.replace('-','/') 
df['Ship_Date']

0       11/12/2013
1       11/12/2013
2        6/17/2013
3       10/18/2012
4       10/18/2012
           ...
9989     1/24/2011
9990    03/04/2014
9991    03/04/2014
9992    03/04/2014
9993    05/10/2014
Name: Ship_Date, Length: 9985, dtype: object

In [24]:
df['Order_Date'] = df['Order_Date'].str.replace('-','/') 
df['Order_Date']

0       11/09/2013
1       11/09/2013
2        6/13/2013
3       10/11/2012
4       10/11/2012
           ...
9989     1/22/2011
9990     2/27/2014
9991     2/27/2014
9992     2/27/2014
9993    05/05/2014
Name: Order_Date, Length: 9985, dtype: object

In [25]:
df['Order_Date'] = pd.to_datetime(df['Order_Date'])
df['Ship_Date'] = pd.to_datetime(df['Ship_Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9985 entries, 0 to 9993
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9985 non-null   int64
 1   Order_ID       9985 non-null   object
 2   Order_Date     9985 non-null   datetime64[ns]
 3   Ship_Date      9985 non-null   datetime64[ns]
 4   Ship_Mode      9985 non-null   object
 5   Customer_ID    9985 non-null   object
 6   Customer_Name  9985 non-null   object
 7   Segment        9985 non-null   object
 8   Country        9985 non-null   object
 9   City_Code      9985 non-null   object
 10  State_Code     9985 non-null   object
 11  Postal_Code    9985 non-null   int64
 12  Product_ID     9985 non-null   object
 13  Category       9985 non-null   object
 14  Sub-Category   9985 non-null   object
 15  Product_Name   9985 non-null   object
 16  Sales          9985 non-null   float64
 17  Quantity       9985 non-null   int64
 18  Discount       9985 non-null   float64
 19  Profit         9985 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(12)
memory usage: 1.6+ MB

In [26]:
df.head(10)

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City_Code,State_Code,Postal_Code,Product_ID,Category,Sub-Category,Product_Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,C259,S16,42420,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,C259,S16,42420,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2013-138688,2013-06-13,2013-06-17,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,C64,S04,90036,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2012-108966,2012-10-11,2012-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,C150,S09,33311,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2012-108966,2012-10-11,2012-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,C150,S09,33311,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
5,6,CA-2011-115812,2011-06-09,2011-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,C64,S04,90032,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
6,7,CA-2011-115812,2011-06-09,2011-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,C64,S04,90032,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656
7,8,CA-2011-115812,2011-06-09,2011-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,C64,S04,90032,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152
8,9,CA-2011-115812,2011-06-09,2011-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,C64,S04,90032,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3,0.20,5.7825
9,10,CA-2011-115812,2011-06-09,2011-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,C64,S04,90032,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,0.00,34.4700

In [27]:
#Getting duration from order date to ship date
df['Duration'] = df['Ship_Date'] - df['Order_Date']
df

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City_Code,...,Postal_Code,Product_ID,Category,Sub-Category,Product_Name,Sales,Quantity,Discount,Profit,Duration
0,1,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,C259,...,42420,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,3 days
1,2,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,C259,...,42420,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,3 days
2,3,CA-2013-138688,2013-06-13,2013-06-17,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,C64,...,90036,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,4 days
3,4,US-2012-108966,2012-10-11,2012-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,C150,...,33311,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,7 days
4,5,US-2012-108966,2012-10-11,2012-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,C150,...,33311,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,7 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2011-110422,2011-01-22,2011-01-24,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,C160,...,33180,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028,2 days
9990,9991,CA-2014-121258,2014-02-27,2014-03-04,Standard Class,DB-13060,Dave Brooks,Consumer,United States,C43,...,92627,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332,5 days
9991,9992,CA-2014-121258,2014-02-27,2014-03-04,Standard Class,DB-13060,Dave Brooks,Consumer,United States,C43,...,92627,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932,5 days
9992,9993,CA-2014-121258,2014-02-27,2014-03-04,Standard Class,DB-13060,Dave Brooks,Consumer,United States,C43,...,92627,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200,5 days
9993,9994,CA-2014-119914,2014-05-05,2014-05-10,Second Class,CC-12220,Chris Cortes,Consumer,United States,C108,...,92683,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480,5 days

In [28]:
dfCity = pd.read_excel('City_Master_P.xlsx' )
dfCity.head()

  City_Code   City_Name
0       C01      Auburn
1       C02     Decatur
2       C03    Florence
3       C04      Hoover
4       C05  Huntsville

In [29]:
df1 = pd.merge(df,dfCity,how = 'inner')
df1.head(10)

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City_Code,...,Product_ID,Category,Sub-Category,Product_Name,Sales,Quantity,Discount,Profit,Duration,City_Name
0,1,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,C259,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136,3 days,Henderson
1,2,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,C259,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820,3 days,Henderson
2,539,CA-2012-134894,2012-12-07,2012-12-11,Standard Class,DK-12985,Darren Koutras,Consumer,United States,C259,...,OFF-AP-10001271,Office Supplies,Appliances,Eureka The Boss Cordless Rechargeable Stick Vac,152.94,3,0.0,41.2938,4 days,Henderson
3,540,CA-2012-134894,2012-12-07,2012-12-11,Standard Class,DK-12985,Darren Koutras,Consumer,United States,C259,...,FUR-CH-10002647,Furniture,Chairs,"Situations Contoured Folding Chairs, 4/Set",283.92,4,0.0,70.9800,4 days,Henderson
4,997,CA-2012-162537,2012-10-28,2012-11-03,Standard Class,RD-19585,Rob Dowd,Consumer,United States,C259,...,OFF-EN-10003862,Office Supplies,Envelopes,Laser & Ink Jet Business Envelopes,10.67,1,0.0,4.9082,6 days,Henderson
5,998,CA-2012-162537,2012-10-28,2012-11-03,Standard Class,RD-19585,Rob Dowd,Consumer,United States,C259,...,OFF-ST-10004258,Office Supplies,Storage,Portable Personal File Box,36.63,3,0.0,9.8901,6 days,Henderson
6,999,CA-2012-162537,2012-10-28,2012-11-03,Standard Class,RD-19585,Rob Dowd,Consumer,United States,C259,...,FUR-FU-10002885,Furniture,Furnishings,Magna Visual Magnetic Picture Hangers,24.10,5,0.0,9.1580,6 days,Henderson
7,1000,CA-2012-162537,2012-10-28,2012-11-03,Standard Class,RD-19585,Rob Dowd,Consumer,United States,C259,...,FUR-FU-10001918,Furniture,Furnishings,C-Line Cubicle Keepers Polyproplyene Holder Wi...,33.11,7,0.0,12.9129,6 days,Henderson
8,1867,CA-2014-118857,2014-04-16,2014-04-19,First Class,AH-10075,Adam Hart,Corporate,United States,C259,...,FUR-FU-10004460,Furniture,Furnishings,"Howard Miller 12"" Round Wall Clock",196.45,5,0.0,70.7220,3 days,Henderson
9,2322,CA-2012-109470,2012-12-31,2013-01-03,Second Class,KC-16255,Karen Carlisle,Corporate,United States,C259,...,OFF-BI-10004492,Office Supplies,Binders,Tuf-Vin Binders,94.74,3,0.0,44.5278,3 days,Henderson

In [30]:
df1.sort_values('Row_ID')

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City_Code,...,Product_ID,Category,Sub-Category,Product_Name,Sales,Quantity,Discount,Profit,Duration,City_Name
0,1,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,C259,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,3 days,Henderson
1,2,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,C259,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,3 days,Henderson
51,3,CA-2013-138688,2013-06-13,2013-06-17,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,C64,...,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,4 days,Los Angeles
798,4,US-2012-108966,2012-10-11,2012-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,C150,...,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,7 days,Fort Lauderdale
799,5,US-2012-108966,2012-10-11,2012-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,C150,...,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,7 days,Fort Lauderdale
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6643,9990,CA-2011-110422,2011-01-22,2011-01-24,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,C160,...,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028,2 days,Miami
7107,9991,CA-2014-121258,2014-02-27,2014-03-04,Standard Class,DB-13060,Dave Brooks,Consumer,United States,C43,...,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332,5 days,Costa Mesa
7108,9992,CA-2014-121258,2014-02-27,2014-03-04,Standard Class,DB-13060,Dave Brooks,Consumer,United States,C43,...,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932,5 days,Costa Mesa
7109,9993,CA-2014-121258,2014-02-27,2014-03-04,Standard Class,DB-13060,Dave Brooks,Consumer,United States,C43,...,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200,5 days,Costa Mesa
8297,9994,CA-2014-119914,2014-05-05,2014-05-10,Second Class,CC-12220,Chris Cortes,Consumer,United States,C108,...,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480,5 days,Westminster

In [31]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9985 entries, 0 to 9984
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9985 non-null   int64
 1   Order_ID       9985 non-null   object
 2   Order_Date     9985 non-null   datetime64[ns]
 3   Ship_Date      9985 non-null   datetime64[ns]
 4   Ship_Mode      9985 non-null   object
 5   Customer_ID    9985 non-null   object
 6   Customer_Name  9985 non-null   object
 7   Segment        9985 non-null   object
 8   Country        9985 non-null   object
 9   City_Code      9985 non-null   object
 10  State_Code     9985 non-null   object
 11  Postal_Code    9985 non-null   int64
 12  Product_ID     9985 non-null   object
 13  Category       9985 non-null   object
 14  Sub-Category   9985 non-null   object
 15  Product_Name   9985 non-null   object
 16  Sales          9985 non-null   float64
 17  Quantity       9985 non-null   int64
 18  Discount       9985 non-null   float64
 19  Profit         9985 non-null   float64
 20  Duration       9985 non-null   timedelta64[ns]
 21  City_Name      9985 non-null   object
dtypes: datetime64[ns](2), float64(3), int64(3), object(13), timedelta64[ns](1)
memory usage: 1.8+ MB

In [32]:
dfState = pd.read_excel('State_Master.xlsx' )
dfState.head()

  State_Code       State
0        S01     Alabama
1        S02     Arizona
2        S03    Arkansas
3        S04  California
4        S05    Colorado

In [33]:
dfm = pd.merge(df1,dfState,how = 'inner')
dfm.head(5)

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City_Code,...,Category,Sub-Category,Product_Name,Sales,Quantity,Discount,Profit,Duration,City_Name,State
0,1,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,C259,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136,3 days,Henderson,Kentucky
1,2,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,C259,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820,3 days,Henderson,Kentucky
2,539,CA-2012-134894,2012-12-07,2012-12-11,Standard Class,DK-12985,Darren Koutras,Consumer,United States,C259,...,Office Supplies,Appliances,Eureka The Boss Cordless Rechargeable Stick Vac,152.94,3,0.0,41.2938,4 days,Henderson,Kentucky
3,540,CA-2012-134894,2012-12-07,2012-12-11,Standard Class,DK-12985,Darren Koutras,Consumer,United States,C259,...,Furniture,Chairs,"Situations Contoured Folding Chairs, 4/Set",283.92,4,0.0,70.9800,4 days,Henderson,Kentucky
4,997,CA-2012-162537,2012-10-28,2012-11-03,Standard Class,RD-19585,Rob Dowd,Consumer,United States,C259,...,Office Supplies,Envelopes,Laser & Ink Jet Business Envelopes,10.67,1,0.0,4.9082,6 days,Henderson,Kentucky

In [34]:
dfm.sort_values('Row_ID')

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City_Code,...,Category,Sub-Category,Product_Name,Sales,Quantity,Discount,Profit,Duration,City_Name,State
0,1,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,C259,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,3 days,Henderson,Kentucky
1,2,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,C259,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,3 days,Henderson,Kentucky
178,3,CA-2013-138688,2013-06-13,2013-06-17,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,C64,...,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,4 days,Los Angeles,California
2176,4,US-2012-108966,2012-10-11,2012-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,C150,...,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,7 days,Fort Lauderdale,Florida
2177,5,US-2012-108966,2012-10-11,2012-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,C150,...,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,7 days,Fort Lauderdale,Florida
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2316,9990,CA-2011-110422,2011-01-22,2011-01-24,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,C160,...,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028,2 days,Miami,Florida
1811,9991,CA-2014-121258,2014-02-27,2014-03-04,Standard Class,DB-13060,Dave Brooks,Consumer,United States,C43,...,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332,5 days,Costa Mesa,California
1812,9992,CA-2014-121258,2014-02-27,2014-03-04,Standard Class,DB-13060,Dave Brooks,Consumer,United States,C43,...,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932,5 days,Costa Mesa,California
1813,9993,CA-2014-121258,2014-02-27,2014-03-04,Standard Class,DB-13060,Dave Brooks,Consumer,United States,C43,...,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200,5 days,Costa Mesa,California
1983,9994,CA-2014-119914,2014-05-05,2014-05-10,Second Class,CC-12220,Chris Cortes,Consumer,United States,C108,...,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480,5 days,Westminster,California

In [35]:
dfm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9985 entries, 0 to 9984
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9985 non-null   int64
 1   Order_ID       9985 non-null   object
 2   Order_Date     9985 non-null   datetime64[ns]
 3   Ship_Date      9985 non-null   datetime64[ns]
 4   Ship_Mode      9985 non-null   object
 5   Customer_ID    9985 non-null   object
 6   Customer_Name  9985 non-null   object
 7   Segment        9985 non-null   object
 8   Country        9985 non-null   object
 9   City_Code      9985 non-null   object
 10  State_Code     9985 non-null   object
 11  Postal_Code    9985 non-null   int64
 12  Product_ID     9985 non-null   object
 13  Category       9985 non-null   object
 14  Sub-Category   9985 non-null   object
 15  Product_Name   9985 non-null   object
 16  Sales          9985 non-null   float64
 17  Quantity       9985 non-null   int64
 18  Discount       9985 non-null   float64
 19  Profit         9985 non-null   float64
 20  Duration       9985 non-null   timedelta64[ns]
 21  City_Name      9985 non-null   object
 22  State          9985 non-null   object
dtypes: datetime64[ns](2), float64(3), int64(3), object(14), timedelta64[ns](1)
memory usage: 1.8+ MB

In [36]:
#Mean duration for each city and state
dfm.groupby(['State','City_Name'], as_index = False)['Duration'].mean()

         State   City_Name                  Duration
0      Alabama      Auburn           4 days 04:00:00
1      Alabama     Decatur 5 days 14:46:09.230769230
2      Alabama    Florence           2 days 19:12:00
3      Alabama      Hoover           3 days 12:00:00
4      Alabama  Huntsville           3 days 21:36:00
..         ...         ...                       ...
599  Wisconsin    Superior           5 days 00:00:00
600  Wisconsin    Waukesha           7 days 00:00:00
601  Wisconsin      Wausau           5 days 00:00:00
602  Wisconsin  West Allis           5 days 00:00:00
603    Wyoming    Cheyenne           5 days 00:00:00

[604 rows x 3 columns]

In [37]:
#Max Sales for each city and state
Max_Sales = dfm.groupby(['State','City_Name'], as_index = False)['Sales'].sum()
Max_Sales

         State   City_Name     Sales
0      Alabama      Auburn  1766.830
1      Alabama     Decatur  3374.820
2      Alabama    Florence  1997.350
3      Alabama      Hoover   525.850
4      Alabama  Huntsville  2484.370
..         ...         ...       ...
599  Wisconsin    Superior  1299.730
600  Wisconsin    Waukesha    54.500
601  Wisconsin      Wausau   317.480
602  Wisconsin  West Allis   250.480
603    Wyoming    Cheyenne  1603.136

[604 rows x 3 columns]

In [38]:
Max_Sales.max()

State           Wyoming
City_Name          Yuma
Sales        256368.161
dtype: object

In [39]:
Max_Sales.min()

State         Alabama
City_Name    Aberdeen
Sales           1.392
dtype: object

In [40]:
#Calculating order Year from order date
dfm['Order_Year'] = dfm['Order_Date'].dt.year
dfm

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City_Code,...,Sub-Category,Product_Name,Sales,Quantity,Discount,Profit,Duration,City_Name,State,Order_Year
0,1,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,C259,...,Bookcases,Bush Somerset Collection Bookcase,261.960,2,0.0,41.9136,3 days,Henderson,Kentucky,2013
1,2,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,C259,...,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.940,3,0.0,219.5820,3 days,Henderson,Kentucky,2013
2,539,CA-2012-134894,2012-12-07,2012-12-11,Standard Class,DK-12985,Darren Koutras,Consumer,United States,C259,...,Appliances,Eureka The Boss Cordless Rechargeable Stick Vac,152.940,3,0.0,41.2938,4 days,Henderson,Kentucky,2012
3,540,CA-2012-134894,2012-12-07,2012-12-11,Standard Class,DK-12985,Darren Koutras,Consumer,United States,C259,...,Chairs,"Situations Contoured Folding Chairs, 4/Set",283.920,4,0.0,70.9800,4 days,Henderson,Kentucky,2012
4,997,CA-2012-162537,2012-10-28,2012-11-03,Standard Class,RD-19585,Rob Dowd,Consumer,United States,C259,...,Envelopes,Laser & Ink Jet Business Envelopes,10.670,1,0.0,4.9082,6 days,Henderson,Kentucky,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9980,4366,CA-2014-111332,2014-05-21,2014-05-23,Second Class,NC-18340,Nat Carroll,Consumer,United States,C418,...,Fasteners,Staples,7.410,3,0.0,3.4827,2 days,Fargo,North Dakota,2014
9981,4367,CA-2014-111332,2014-05-21,2014-05-23,Second Class,NC-18340,Nat Carroll,Consumer,United States,C418,...,Art,"Binney & Smith inkTank Desk Highlighter, Chise...",21.500,10,0.0,7.0950,2 days,Fargo,North Dakota,2014
9982,7485,CA-2014-135111,2014-12-29,2015-01-03,Standard Class,CS-12400,Christopher Schild,Home Office,United States,C418,...,Art,Staples in misc. colors,2.480,1,0.0,0.8680,5 days,Fargo,North Dakota,2014
9983,7486,CA-2014-135111,2014-12-29,2015-01-03,Standard Class,CS-12400,Christopher Schild,Home Office,United States,C418,...,Binders,Wilson Jones Impact Binders,25.900,5,0.0,12.6910,5 days,Fargo,North Dakota,2014
9984,5870,CA-2013-152247,2013-11-08,2013-11-13,Standard Class,MA-17995,Michelle Arnett,Home Office,United States,C604,...,Chairs,Global Troy Executive Leather Low-Back Tilter,1603.136,4,0.2,100.1960,5 days,Cheyenne,Wyoming,2013

In [41]:
#Max Sales per year.
Max_Sales_Year = dfm.groupby(['Order_Year'], as_index = False)['Sales'].sum()
Max_Sales_Year

   Order_Year        Sales
0        2011  482898.9501
1        2012  470524.4930
2        2013  605545.9900
3        2014  733947.0232

In [42]:
Max_Duration = dfm['Duration'].max()
Max_Days_Info = dfm.loc[dfm['Duration'] == Max_Duration]
Max_Days_Info.describe()

,Row_ID,Postal_Code,Sales,Quantity,Discount,Profit,Duration,Order_Year
count,621.000000,621.000000,621.000000,621.000000,621.000000,621.000000,621,621.000000
mean,5132.710145,58313.990338,265.213769,3.879227,0.160709,32.740494,7 days 00:00:00,2012.753623
std,2797.138287,32378.978326,893.824398,2.206275,0.214425,469.823697,0 days 00:00:00,1.108111
min,4.000000,1841.000000,2.200000,1.000000,0.000000,-6599.978000,7 days 00:00:00,2011.000000
25%,2996.000000,30318.000000,18.336000,2.000000,0.000000,1.600800,7 days 00:00:00,2012.000000
50%,5450.000000,60623.000000,51.312000,3.000000,0.200000,9.331200,7 days 00:00:00,2013.000000
75%,7464.000000,90032.000000,212.940000,5.000000,0.200000,27.504000,7 days 00:00:00,2014.000000
max,9876.000000,99301.000000,17499.950000,14.000000,0.800000,8399.976000,7 days 00:00:00,2014.000000

In [43]:
Min_Duration = dfm['Duration'].min()
Min_Days_Info = dfm.loc[dfm['Duration'] == Min_Duration]
Min_Days_Info.describe()

,Row_ID,Postal_Code,Sales,Quantity,Discount,Profit,Duration,Order_Year
count,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518,518.000000
mean,5117.795367,56114.961390,235.729210,3.588803,0.152220,27.878344,0 days 00:00:00,2012.791506
std,2684.975107,31239.623812,550.033229,2.136274,0.199443,228.289861,0 days 00:00:00,1.083981
min,367.000000,1841.000000,0.556000,1.000000,0.000000,-3839.990400,0 days 00:00:00,2011.000000
25%,2866.250000,30080.000000,17.002500,2.000000,0.000000,2.111650,0 days 00:00:00,2012.000000
50%,5127.500000,53209.000000,55.976000,3.000000,0.200000,8.023000,0 days 00:00:00,2013.000000
75%,7267.750000,90032.000000,211.695500,5.000000,0.200000,31.373300,0 days 00:00:00,2014.000000
max,9964.000000,98115.000000,7999.980000,14.000000,0.800000,2229.024000,0 days 00:00:00,2014.000000

In [44]:
#Week Days the most number of orders are placed

In [45]:
from datetime import date
import calendar
dfm['WeekDay'] = dfm['Order_Date'].dt.day_name()
dfm

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City_Code,...,Product_Name,Sales,Quantity,Discount,Profit,Duration,City_Name,State,Order_Year,WeekDay
0,1,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,C259,...,Bush Somerset Collection Bookcase,261.960,2,0.0,41.9136,3 days,Henderson,Kentucky,2013,Saturday
1,2,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,C259,...,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.940,3,0.0,219.5820,3 days,Henderson,Kentucky,2013,Saturday
2,539,CA-2012-134894,2012-12-07,2012-12-11,Standard Class,DK-12985,Darren Koutras,Consumer,United States,C259,...,Eureka The Boss Cordless Rechargeable Stick Vac,152.940,3,0.0,41.2938,4 days,Henderson,Kentucky,2012,Friday
3,540,CA-2012-134894,2012-12-07,2012-12-11,Standard Class,DK-12985,Darren Koutras,Consumer,United States,C259,...,"Situations Contoured Folding Chairs, 4/Set",283.920,4,0.0,70.9800,4 days,Henderson,Kentucky,2012,Friday
4,997,CA-2012-162537,2012-10-28,2012-11-03,Standard Class,RD-19585,Rob Dowd,Consumer,United States,C259,...,Laser & Ink Jet Business Envelopes,10.670,1,0.0,4.9082,6 days,Henderson,Kentucky,2012,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9980,4366,CA-2014-111332,2014-05-21,2014-05-23,Second Class,NC-18340,Nat Carroll,Consumer,United States,C418,...,Staples,7.410,3,0.0,3.4827,2 days,Fargo,North Dakota,2014,Wednesday
9981,4367,CA-2014-111332,2014-05-21,2014-05-23,Second Class,NC-18340,Nat Carroll,Consumer,United States,C418,...,"Binney & Smith inkTank Desk Highlighter, Chise...",21.500,10,0.0,7.0950,2 days,Fargo,North Dakota,2014,Wednesday
9982,7485,CA-2014-135111,2014-12-29,2015-01-03,Standard Class,CS-12400,Christopher Schild,Home Office,United States,C418,...,Staples in misc. colors,2.480,1,0.0,0.8680,5 days,Fargo,North Dakota,2014,Monday
9983,7486,CA-2014-135111,2014-12-29,2015-01-03,Standard Class,CS-12400,Christopher Schild,Home Office,United States,C418,...,Wilson Jones Impact Binders,25.900,5,0.0,12.6910,5 days,Fargo,North Dakota,2014,Monday
9984,5870,CA-2013-152247,2013-11-08,2013-11-13,Standard Class,MA-17995,Michelle Arnett,Home Office,United States,C604,...,Global Troy Executive Leather Low-Back Tilter,1603.136,4,0.2,100.1960,5 days,Cheyenne,Wyoming,2013,Friday

In [46]:
weekday_sales = dfm.groupby(['WeekDay'], as_index = False)['Sales'].sum()
weekday_sales

     WeekDay        Sales
0     Friday  450077.3347
1     Monday  408529.0943
2   Saturday  223176.0364
3     Sunday   41928.6428
4   Thursday  415264.7249
5    Tuesday  413430.6073
6  Wednesday  340510.0159

In [47]:
dfm['Customer_Name'].value_counts()

William Brown        37
Matt Abelman         34
Paul Prost           34
John Lee             34
Jonathan Doherty     32
                     ..
Lela Donovan          1
Ricardo Emerson       1
Jocasta Rupert        1
Carl Jackson          1
Anthony O'Donnell     1
Name: Customer_Name, Length: 793, dtype: int64